body {
  background-color: #FFFFFF;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

.green-mode {
  background-image: linear-gradient(to bottom right, DarkSeaGreen, #148055);
  transition: 0.7s ease;
}

.bg-nav {
  background-color: #000000CA;
}

.navbar-header a {
  color: white;
}


.profile-container {
  padding-top: 3%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green-mode .profile-container {
  color: #ffffffca;
}

.profile-container img{
  width: 17%;
}


.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #E8E7E7AA;
  border-radius: 5px;
  width: 30vw;
  height: 5vh;
  margin-top: 1%;
  border: 1px solid #00000040;
  transition: 0.5s ease;
}

button:hover {
  background-color: #D8D7D7;
  transition: 0.7s ease;
}

.content {
  background-color: #E8E7E730;
  border: 1px solid #00000030;
  border-top: 0;
  border-radius: 4px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.green-mode button {
  color: #FFFFFFCC;
  background-color: #00000028;
  border: 1px solid #00000040;
  transition: 0.5s ease;
}

.green-mode .content {
  color: #000000AA;
  border: 1px solid #00000050;
  border-top: 0;
  border-radius: 4px;
}

.green-mode button:hover{
  background-color: #00000058;
  transition: 0.7s ease;
}

#mode-label {
  margin-right: 1vw;
  color: #FFFFFF 
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCCCCC70;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFFDD;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #559055;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
    margin-bottom: 0;
  }


 @media only screen and (max-width: 600px) {
  #foto {
    padding-top: 7%;
    padding-bottom: 3%;
    width: 65%;
  }

  .profile-container {
    margin-bottom: 5%;
  }

  button {
    width:75vw;
    font-size:110%;
  }

  .content {
    font-size: 100%;
  }

  .navbar {
    padding-right: 0;
  }

  .switch {
    margin-bottom: 0;
  }
 }

 @media only screen and (max-width: 375px) {
  #foto {
    padding-top: 7%;
    width: 50%;
  }

  .profile-container {
    margin-bottom: 5%;
  }

  .profile-container h3 {
    font-size: 160%;
  }

  button {
    width:70vw;
    font-size:100%;
  }

  .content {
    font-size: 80%;
  }

  .navbar {
    padding-right: 0;
  }

  .switch {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 320px) {
  .content {
    font-size: 75%;
  }

  button {
    width:70vw;
    font-size:85%;
  }

  .profile-container h3 {
    font-size: 140%;
  }

  #foto {
    padding-top: 7%;
    width: 60%;
  }
}

@media only screen and (device-width: 768px) {
  #foto {
    padding-top: 7%;
    padding-bottom: 3%;
    width: 45%;
  }

  .profile-container {
    margin-bottom: 5%;
  }

  .profile-container h3 {
    font-size: 250%
  }

  button {
    width:75vw;
    font-size:130%;
  }

  .content {
    font-size: 130%;
  }

  .navbar {
    padding-right: 0;
  }

  .switch {
    margin-bottom: 0;
  }
}

@media only screen and (device-width: 1024px) and (max-height: 1366px)  {
  /* For general iPad Pro layouts */
  nav {
    height: 8vh;
  }
  
  .navbar-brand {
    font-size: 160%;
  }
  
  nav ul {
    height: 5vh;
    font-size: 150%;
  }
 
  #foto {
    padding-top: 7%;
    padding-bottom: 3%;
    width: 45%;
  }

  .profile-container {
    margin-bottom: 5%;
  }

  .profile-container h3 {
    font-size: 300%
  }

  button {
    width:75vw;
    font-size:190%;
  }

  .content {
    font-size: 170%;
  }

  .navbar {
    padding-right: 0;
  }

  .switch {
    margin-bottom: 0;
  }
 }
}