<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Story-7 Rifqi</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
</head>

<body class="">
	
	<nav class="navbar navbar-inverse bg-nav">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Enbeqi</a>
			</div>
			<ul class="nav navbar navbar-right">
				<li id="mode-label">Green Mode</li>
				<li>
			      	<label class="switch">
						<input id="theme-checkbox" type="checkbox">
						<span class="slider round"></span>
					</label>
		    	</li>
		    </ul>
		</div>
	</nav>

	<div class="profile-container">
		<img id="foto" src="{% static 'img/foto.png' %}">
		<h3>Muhammad Rifqi</h3>
	</div>

	<div class="accordion-container">
		<div class="accordion" id="accord-aktivitas">
			<button id="button-aktivitas">Aktivitas</button>
			<p class="content" id="content-aktivitas">Staff AKPEM BEM Fasilkom UI 2019</p>
		</div>

		<div class="accordion" id="accord-organisasi">
			<button id="button-organisasi">Organisasi-Kepanitiaan</button>
			<p class="content" id="content-organisasi">BEM Fasilkom UI 2019<br>SIWAK-NG 2019<br>COMPFEST 11<br>CGT In Action</p>
		</div>

		<div class="accordion" id="accord-prestasi">
			<button id="button-prestasi">Prestasi</button>
			<p class="content" id="content-prestasi">gapunya :(</p>
		</div>
	</div>
</body>